<div>

    Title: <br> <input type="text" [(ngModel)]="information.title"> <br> <br>
    Description: <br> <input type="text" [(ngModel)]="information.description"> <br> <br>
    Creator: <br> <input type="text" [(ngModel)]="information.creator"> <br> <br>
    imageUrl: <br> <input type="text" [(ngModel)]="information.imgURL"> <br> <br> 
    Type: <br> <input type="text" [(ngModel)]="information.type"> <br> <br>
    color: <br> <input type="text" [(ngModel)]="information.color"> <br> <br>
    publisher: <br> <input type="text" [(ngModel)]="information.publisher"> <br> <br>
    <div>
        <button (click)="addContent()">Add Content</button>
    </div>
</div>