<div class="firstComp">
    <h2>{{firstContent.title}}</h2>
    <p>{{firstContent.description}}</p>
    <p>Creator: {{firstContent.creator}}</p>
    <p appHoverAffect>Type: {{firstContent.type}}</p>

    <div>
        Tags: 
        <p *ngFor="let tag of firstContent.tags" [appHoverAffect]="'bold'">{{tag}}</p>
    </div>

    <div *ngIf="firstContent.imageUrl; else defaultImg">
        <img (click)="logIdTitle(firstContent)" [src]="firstContent.imageUrl">
    </div>
    <ng-template #defaultImg>
        <img (click)="logIdTitle(firstContent)" [src]="defaultImage">
    </ng-template>
</div>

<app-content-list></app-content-list>

<app-message></app-message>