<br><hr>
<app-modify-content (createEvent)="addContent($event)"></app-modify-content>
<hr><br>
<mat-form-field>
    <input matInput type="text" [(ngModel)]="titleSearch">
</mat-form-field>
<button mat-raised-button matTooltip="Search for Movie titles" color="primary" (click)="SearchTitle()">Search</button>


<p *ngIf="titleMatched !== null" >
    <span [style.color]="titleMatched ? 'green' : 'red'">
        {{titleMatched ? 'Title Found' : 'Title NOt Found'}}
    </span>
</p>

<br> <hr> <br>

<h1>Without Type</h1>
<div *ngFor="let content of contents | filterContentType" class="noType">
    <mat-card color="primary">
        <mat-card-header>
            <h2>{{content.title}}</h2>
        </mat-card-header>
        <mat-card-content>
            <p>Creator: {{content.creator}}</p>
            <p>{{content.description}}</p>
            <div>
                Tags: 
                <p *ngFor="let tag of content.tags" [appHoverAffect]="'bold'">{{tag}}</p>
            </div>

            <div *ngIf="content.imageUrl; else defaultImg">
                <img (click)="logIdTitle(content)" [src]="content.imageUrl">
            </div>
            <ng-template #defaultImg>
                <img (click)="logIdTitle(content)" [src]="defaultImage">
            </ng-template>
        </mat-card-content>
    </mat-card>
</div>

<br> <hr> <br>

<h1>Action Type</h1>
<div *ngFor="let content of contents | filterContentType:'Action'" class="Action">
    <mat-card>
        <mat-card-header>
            <h2>{{content.title}}</h2>
        </mat-card-header>
        <mat-card-content>
            <p>Creator: {{content.creator}}</p>
            <p>{{content.description}}</p>
            <div>
                Tags: 
                <p *ngFor="let tag of content.tags" [appHoverAffect]="'bold'">{{tag}}</p>
            </div>

            <div *ngIf="content.imageUrl; else defaultImg">
                <img (click)="logIdTitle(content)" [src]="content.imageUrl">
            </div>
            <ng-template #defaultImg>
                <img (click)="logIdTitle(content)" [src]="defaultImage">
            </ng-template>
        </mat-card-content>
    </mat-card>
</div>


<br> <hr> <br>

<h1>Drama Type</h1>
<div *ngFor="let content of contents | filterContentType:'Action'" class="Drama">
    <mat-card>
        <mat-card-header>
            <h2>{{content.title}}</h2>
        </mat-card-header>
        <mat-card-content>
            <p>Creator: {{content.creator}}</p>
            <p>{{content.description}}</p>
            <div>
                Tags: 
                <p *ngFor="let tag of content.tags" [appHoverAffect]="'bold'">{{tag}}</p>
            </div>

            <div *ngIf="content.imageUrl; else defaultImg">
                <img (click)="logIdTitle(content)" [src]="content.imageUrl">
            </div>
            <ng-template #defaultImg>
                <img (click)="logIdTitle(content)" [src]="defaultImage">
            </ng-template>
        </mat-card-content>
    </mat-card>
</div>
