<br><hr>
<app-modify-content (createEvent)="addContent($event)"></app-modify-content>
<hr><br>

<input type="text" [(ngModel)]="titleSearch">
<button (click)="SearchTitle()">Search</button>


<p *ngIf="titleMatched !== null" >
    <span [style.color]="titleMatched ? 'green' : 'red'">
        {{titleMatched ? 'Title Found' : 'Title NOt Found'}}
    </span>
</p>

<br> <hr> <br>

<h1>Without Type</h1>
<div *ngFor="let content of contents | filterContentType" class="noType">
    <h2>{{content.title}}</h2>
    <p>{{content.description}}</p>
    <p>Creator: {{content.creator}}</p>
    <p appHoverAffect>Type: {{content.type}}</p>

    <div>
        Tags: 
        <p *ngFor="let tag of content.tags" [appHoverAffect]="'bold'">{{tag}}</p>
    </div>

    <div *ngIf="content.imageUrl; else defaultImg">
        <img (click)="logIdTitle(content)" [src]="content.imageUrl">
    </div>
    <ng-template #defaultImg>
        <img (click)="logIdTitle(content)" [src]="defaultImage">
    </ng-template>
</div>

<br> <hr> <br>

<h1>Action Type</h1>
<div *ngFor="let content of contents | filterContentType:'Action'" class="Action">
    <h2>{{content.title}}</h2>
    <p>{{content.description}}</p>
    <p>Creator: {{content.creator}}</p>
    <p appHoverAffect>Type: {{content.type}}</p>

    <div>
        Tags: 
        <p *ngFor="let tag of content.tags" [appHoverAffect]="'bold'">{{tag}}</p>
    </div>

    <div *ngIf="content.imageUrl; else defaultImg">
        <img (click)="logIdTitle(content)" [src]="content.imageUrl">
    </div>
    <ng-template #defaultImg>
        <img (click)="logIdTitle(content)" [src]="defaultImage">
    </ng-template>
</div>


<br> <hr> <br>

<h1>Drama Type</h1>
<div *ngFor="let content of contents | filterContentType:'Action'" class="Drama">
    <h2>{{content.title}}</h2>
    <p>{{content.description}}</p>
    <p>Creator: {{content.creator}}</p>
    <p appHoverAffect>Type: {{content.type}}</p>

    <div>
        Tags: 
        <p *ngFor="let tag of content.tags" [appHoverAffect]="'bold'">{{tag}}</p>
    </div>
    
    <div *ngIf="content.imageUrl; else defaultImg">
        <img (click)="logIdTitle(content)" [src]="content.imageUrl">
    </div>
    <ng-template #defaultImg>
        <img (click)="logIdTitle(content)" [src]="defaultImage">
    </ng-template>
</div>
